<div class = "bg-[#554339] pt-[110px] flex flex-col">
  <input id="name" value="" placeholder={{myName}} class = "placeholder-current outline-none border-[rgba(0,0,0,0)] bg-[#554339] text-[#FFE3CA] font-['Lora'] font-black text-[60px] text-center pb-[30px] pt-[20px]">
  <div class = "w-[100%] h-[calc(100vh-229px)] rounded-t-[20px] bg-[#FFE3CA] shadow-[0px_0px_15px_rgba(0,0,0,0.2)] flex flex-col pt-[20px] font-['Lora'] text-[20px] items-center">
    <button (click)="onApplyClicked()" class="p-[10px] mb-[15px] w-[20%] h-[50px] shadow-[0px_0px_15px_rgba(0,0,0,0.2)] rounded-[15px] hover:scale-[105%] hover:duration-300 active:scale-[110%] active:duration-[50ms] duration-100">Подтвердить смену имени</button>
    <button (blur)="historyClose()" (focus)="onHistoryClicked()" class="flex flex-col items-center pt-[15px] bg-[#FFE3CA] p-[10px] mb-[15px] w-[20%] h-[50px] shadow-[0px_0px_15px_rgba(0,0,0,0.2)] rounded-[15px] hover:scale-[105%] hover:duration-300 focus:h-[50%] focus:w-[50%] focus:scale-[110%] focus:z-3 focus:duration-[600ms] duration-200 ">
      <div class = "pb-[10px]">История заказов</div>
      <div class = "overflow-auto scrollbar-hide w-[100%] rounded-[12px]">
        <div *ngFor = "let order of orders">
          <app-order [customerView]=true [workerView]=false [managerView]=false [order]="order" class = "flex flex-col"></app-order>
        </div>
      </div>
    </button>
    <button (blur)="activeClose()" (click)="onActiveClicked()" class="flex flex-col items-center pt-[15px] bg-[#FFE3CA] p-[10px] mb-[15px] w-[20%] h-[50px] shadow-[0px_0px_15px_rgba(0,0,0,0.2)] rounded-[15px] hover:scale-[105%] hover:duration-300 focus:h-[50%] focus:w-[50%] focus:z-3 focus:duration-[600ms] duration-200">
      <div class = "pb-[10px]">Активные заказы</div>
      <div class = "overflow-auto scrollbar-hide w-[100%] rounded-[12px]">
        <div *ngFor = "let order of orders">
          <app-order [customerView]=true [workerView]=false [managerView]=false [order]="order" class = "flex flex-col"></app-order>
        </div>
      </div>
    </button>
  </div>
</div>
