<div class = "bg-[#554339] pt-[110px] flex flex-col">
  <input id="name" value="" placeholder={{myName}} class = "placeholder-current outline-none border-[rgba(0,0,0,0)] bg-[#554339] text-[#FFE3CA] font-['Lora'] font-black text-[60px] text-center pb-[30px] pt-[20px]">
  <div class = "w-[100%] h-[calc(100vh-229px)] rounded-t-[20px] bg-[#FFE3CA] shadow-[0px_0px_15px_rgba(0,0,0,0.2)] flex flex-col pt-[20px] font-['Lora'] text-[20px] items-center">
    <button (click)="onApplyClicked()" class="p-[10px] mb-[15px] w-[50%] h-[50px] shadow-[0px_0px_15px_rgba(0,0,0,0.2)] rounded-[15px] hover:scale-[115%] hover:duration-300 duration-100">Подтвердить смену имени</button>
    <button class="p-[10px] mb-[15px] w-[50%] h-[50px] shadow-[0px_0px_15px_rgba(0,0,0,0.2)] rounded-[15px] hover:scale-[115%] hover:duration-300 duration-100">История заказов</button>
    <button class="p-[10px] mb-[15px] w-[50%] h-[50px] shadow-[0px_0px_15px_rgba(0,0,0,0.2)] rounded-[15px] hover:scale-[115%] hover:duration-300 duration-100">Активные заказы</button>
  </div>
</div>
