#mainCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 400px;
  width: 500px;

  background-color: #FFE3CA;
  box-shadow: 0 0 15px #00000055;
  border-radius: 5px;

  transition:
    width 800ms,
    height 800ms;
}

h1{
  font-family: "Lora";
  text-align: center;
  font-weight: 900;
  margin: 10px auto;
  color: #554339;
}

h3{
  font-family: "Lora";
  text-align: center;
  font-weight: 600;
  margin: 10px auto;
  color: #554339;
}

#headerHandler,#footerHandler{
  border-radius: 5px;
  box-shadow: 0 0 15px #00000022;
}

#footerHandler{
  display: flex;
  justify-content: center;
  height: 50px
}

.allBtn{
  font-family: "Lora";
  text-align: center;
  font-weight: 900;
  width: 150px;
  height: 30px;
  background-color: #554339;
  color: #FFE3CA;
  border-radius: 5px;
  margin: 10px 5px;
  box-shadow:0 0 5px #A3626299;

  transition:
  transform 300ms,
  opacity 800ms;
}

.allBtn:hover,#backBtn:hover,.pBtn:hover{
  transform: scale(105%);
}

.allBtn:active,#backBtn:hover,.pBtn:hover{
  transform: scale(102%);
}


#inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 800ms;
}

#inputWithPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

input{
  height: 40px;
  width: 300px;
  margin: 5px auto;
  padding-left: 10px;
  color: #FFE3CA;
  background-color: #CFAE9C;
  border-radius: 5px;
  font-family: 'Lora';
  font-size: 15px;
  font-weight: 900;
  outline: none;
}


option{
  height:40px
}

input::placeholder{
  color:#554339;
}

#personIcon{
  font-size: 136px;
  width: fit-content;
  height: fit-content;
  color: #FFE3CA;
}

#photoBorder{
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: #CFAE9C;
}

#backBtn{
  font-family: "Lora";
  text-align: center;
  font-weight: 900;
  width: 150px;
  height: 30px;
  background-color: #554339;
  color: #FFE3CA;
  border-radius: 5px;
  margin: 10px 5px;
  display: none;
  opacity: 0%;
  box-shadow:0 0 5px #A3626299;

  transition:
  transform 300ms,
  opacity 800ms;
}

#allWorkers{
  font-family: 'Lora';
  font-size: 15px;
  font-weight: 900;


  background-color: #FFE3CA;
  padding-top: 20px;
  height: 100%;
  display: none;
  opacity: 0%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 700px;
  overflow: auto;

  transition:
  opacity 300ms,
  height 800ms;
}

#allWorkers::-webkit-scrollbar{
  display: none;
}

#personCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 0px 10px;
  border-radius: 5px;
  background-color: #FFE3CA;
  box-shadow: 0 0 10px #00000033;
  padding: 20px;
  height: fit-content;
  justify-content: center;
}

.dropdown{
  font-family: 'Lora';
  font-size: 15px;
  font-weight: 900;

  width: 445px;
  position: relative;
  margin-top:5px;
}

.dropdown * {
  box-sizing: border-box;
}

.select{
  background-color: #CFAE9C;
  color: #554339;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height:40px;
  width: 100%;
  padding-left: 10px;

  transition: background-color 300ms;
}

.select-clicked{
  border: 2px #554339 solid;
  box-shadow: 0 0 10px #00000022;
}

.select:hover{
  background-color: #dfb9a4;
}

.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #554339;
  transition: 0.3s;
  margin-right: 15px;
}

.caret-rotate{
  transform: rotate(180deg);
}

.menu{
  list-style: none;
  padding: 0.2em 0.5em;
  background-color: #FFE3CA;
  border: 1px #554339 solid;
  box-shadow: 0 0 10px #00000022;
  border-radius: 5px;
  color: #554339;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li{
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.3s;
}

.menu li:hover{
  background-color: #dfb9a4;
}

.active{
  background-color: #dfb9a4;
}

.menu-open{
  display: block;
  opacity: 1;
}

#userphoto{
  width: fit-content;
  height: fit-content;
  font-size: 120px;
  color:#FFE3CA;
}

.pBtn{
  font-family: "Lora";
  text-align: center;
  font-weight: 900;
  width: 150px;
  height: 30px;
  background-color: #554339;
  color: #FFE3CA;
  border-radius: 5px;
  margin: 5px 5px;
  box-shadow:0 0 5px #A3626299;

  transition:
  transform 300ms,
  opacity 800ms;
}
