<div class = "h-[100px] bg-[#FFE3CA] shadow-[0px_4px_15px_rgba(0,0,0,0.4)] flex justify-center items-center font-['Dorsa'] text-[76px]">
  <button (click)="onProfileClicked()" class = "absolute left-[20px] rounded-[12px] p-[5px] bg-[#403955] hover:p-[10px] hover:duration-300 active:p-[7px] active:duration-50 active:bg-[#272236] duration-150">
    <mat-icon style="width: 40px; height:40px" class ="material-icons-round text-[40px] text-[#FFE3CA]">person</mat-icon>
  </button>
  <button (click)="onLogoClicked()" id="logo" class = "flex hover:scale-[105%] hover:duration-300 active:scale-[95%] active:duration-100 duration-100">
    <div id="piter" class = "text-[#403955]">Piter</div>
    <div id="burger" class ="text-[#8B563F] text-[1100]">Burger</div>
  </button>
  <button (click)="onBucketClick()" class = "pointer-events-auto absolute right-[20px] rounded-[12px] p-[5px] bg-[#403955] hover:p-[10px] hover:duration-300 active:p-[7px] active:duration-50 active:bg-[#272236] duration-150">
    <mat-icon matBadge={{amountOfProducts}} class="material-icons-round text-[40px] text-[#FFE3CA]" style="width: 40px; height:40px">shopping_basket</mat-icon>
  </button>
</div>
