<div id="bucket" class = "h-[300px] font-['Lora'] font-bold text-[#554339] text-[20px] pt-[10px] justify-center bg-[#FFE3CA] w-[400px] min-h-[80px] rounded-[15px] fixed t shadow-[0_4px_15px_rgba(0,0,0,0.3)] z-[2] right-[10px] mt-[110px]">
  <div class = "h-[20px] text-[30px] mt-[5px] flex justify-center">
    <div>Люди</div>
    <button class = "absolute right-[20px] bg-[#403955] p-[5px] rounded-[10px] active:bg-[#272236] active:p-[5px] hover:p-[7px] hover:duration-[500ms] active:duration-100 duration-200">
      <mat-icon class="text-[#FFE3CA]">arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class = "align-center mx-auto  w-[200px] h-[2px] bg-[#826658] mt-[15px] rounded-[1px]"></div>
</div>
