<div class = "bg-[#FFE3CA] rounded-[16px] my-[10px] w-[100%] flex justify-between items-center hover:duration-300 duration-150 active:duratuion-[50ms]">
  <div class = "flex items-center">
    <img src={{product.photo}} class = "z-[1] bg-[#554339] font-[1000] text-[40px] w-[50px] h-[50px] rounded-[10px] shadow-[inset_0_-2px_15px_rgba(0,0,0,0.3)] flex items-center justify-center hover:w-[150px] hover:h-[150px] hover:duration-300 duration-150">
    <div class = "ml-[20px] text-[#554339] text-[15px] h-fit rounded-[12px] pt-[10px]">{{product.name}} X {{amount}}</div>
  </div>
  <div *ngIf="!workerView" class = "text-[#554339] mr-[20px]">{{product.price * amount}} руб.</div>
</div>
