:root{
  --margin: '---';
  --bucketMargin: '---';
  --display: '---';
  --cardOpacity: '---';
  --cardScale: '---';
}

app-sidebar{
  position: absolute;
  top:50%;
  transform:
    translateY(-40%);
  z-index: 3;

  transition:
    margin-left 1s;
}

@media screen and (max-width: 1465px) {
  app-sidebar{
    margin-left: var(--margin);
  }

  app-bucket{
    margin-right: var(--bucketMargin);
  }

}

app-products{
  margin-top:20px;
  color: #794b37;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

#main::-webkit-scrollbar {
  display: none;
}

#main{
  flex: 1 1 100%;
  overflow: scroll;
}

app-product-card{
  position: absolute;
  color: #583728;
  background-color: #FFE3CA;
  border-radius: 20px;
  box-shadow: 0 0 35px rgba(0,0,0,0.3);
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  height: 40vh;
  min-height: 400px;
  justify-content: center;
  left:50%;
  top: 50%;

  display: var(--display);

  opacity: var(--cardOpacity);
  transform:translate(-50%, -50%) scale(var(--cardScale));

  transition:
    opacity 400ms,
    transform 400ms;
}

#uponBucket{
  flex: 1 1 auto;
  display: flex;
}

app-bucket{
  position: fixed;
  background-color: #FFE3CA;
  display: flex;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  right: 20px;
  top:50%;
  transform:
    translateY(-50%);

    transition:
      margin-right 1s;
}
