<div *ngIf="product" id="productCard">
  <div id="upperCardPart" class = "flex items-center">
    <img src={{product.photo}}>
    <div>
      <div id="name" class = "font-black text-[28px] ">{{product.name}}</div>
      <div id="price" class = "text-[20px] text-center">{{product.price}}руб</div>
    </div>
  </div>
  <div class = "font-black text-[30px] mb-[15px]">Описание:</div>
  <div id="description">
    <div class = "text-[20px]">{{product.description}}</div>
  </div>
  <button (click)="onAddButtonPressed(product)">Добавить</button>
</div>
