app-header{
  position: fixed;
  z-index:4;
  width: 100%;
  top: 0;
}

app-notify-container{
  position: absolute;
  margin-bottom: 20px;
  bottom: 0px;
  z-index: 100;
}

html{
  background-color: #FFE3CA;
}

app-admin{
  width: 100vw;
  height: 100vh;
}
