<div *ngFor = "let product of products">
  <button (click)="onProductClicked(product)" id = "product" class = "flex flex-col items-center">
    <img src = {{product.photo}} id = "productImage">
    <div id="devider">
      <div id="name" class = "font-black">{{product.name}}</div>
      <div id="price">{{product.price}} руб</div>
    </div>
  </button>
</div>
<div class = "absolute fixed bottom-[30px]">
  <div class = "flex items-center">
    <app-paginator-controll></app-paginator-controll>
    <button (click)="onPersonPressed()" id="personBtn">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</div>

