<app-header (bucketClicked)="onBucketClicked()" (logoClicked)="onLogoClicked($event)" (profileClicked)="onProfileClicked($event)" [amountOfProducts]="amountOfProducts" class = "fixed w-[100%] z-[1]"></app-header>
<app-bucket (backPressed)="onBackPressed()" [rightPar]="rightPar" [items]="items" [allPrice]="allPrice" (deletePressed)="onDeletePressed()"></app-bucket>
<router-outlet></router-outlet>
<div *ngIf="showWarn" class="flex justify-between rounded-[12px] shadow-[0px_0px_15px_rgba(0,0,0,0.5)] bg-[#403955] w-[300px] h-[70px] px-[20px] text-[#FFE3CA] fixed bottom-[15px] left-[15px] hover:scale-[105%] hover:duration-300 duration-100">
  <div class="flex flex-col justify-center">
    <div class="font-bold">Внимание!</div>
    <div>У вас уже такое имя</div>
  </div>
  <button (click)="closeNotify()" class = "flex items-center hover:scale-[115%] hover:duration-300 duration-100">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div *ngIf="showMess" class="flex justify-between rounded-[12px] shadow-[0px_0px_15px_rgba(0,0,0,0.5)] bg-[#554339] w-[300px] h-[70px] px-[20px] text-[#FFE3CA] fixed bottom-[15px] left-[15px] hover:scale-[105%] hover:duration-300 duration-100">
  <div class="flex flex-col justify-center">
    <div class="font-bold">Успешно</div>
    <div>Имя успешно изменено</div>
  </div>
  <button (click)="closeNotify()" class = "flex items-center hover:scale-[115%] hover:duration-300 duration-100">
    <mat-icon>close</mat-icon>
  </button>
</div>

