<div class = "back" class = "bg-[#403955] relative">
  <div class = "topnav bg-[#FFE3CA] shadow-[0px_4px_15px_rgba(0,0,0,0.3)] h-[100px] w-[100%] fixed">
    <div class = "logo font-['Dorsa'] flex text-[78px] m-[40px]">
      <p class = "blueLogo text-[#403955]">Piter</p>
      <p class = "brownLogo text-[#8B563F]">Burger</p>
    </div>
  </div>
  <div class = "bg-[#FFE3CA] h-[100vh] w-[230px] shadow-[0px_4px_15px_rgba(0,0,0,0.3)]">
    <app-customer-groups class="flex flex-col items-center float-left mt-[110px]"></app-customer-groups>
  </div>
</div>
