.back{
  background-color: #FFE3CA;
  height:126px;
}

.topnav{
  border-radius: 0 0 30px 30px;
  background-color: #FFE3CA;
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,.5);
  height: 126px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  top:0%;
}

.logo{
  font-family: 'Dorsa', sans-serif;
  font-size: 96px;
  display: flex;
  height: 126px;
  line-height: 126px;
  justify-content: center;
}

.blueLogo,.brownLogo{
  float: left;
}

.blueLogo{
  color: #403955;
}

.brownLogo{
  color: #8B563F;
}

.group{
  font-family: Lora;
  background-color: #403955;
  color:#FFE3CA;
  width: 220px;
  height: 60px;
  border-radius: 12px;
  border-color: #403955;
  margin: 20px;
  box-shadow: 0 4px 15px 1px rgba(0,0,0,.25);

  display: grid;
}

.groups{
  margin-top: 140px;
}

app-customer-groups{
  padding-top: 126px;
}

