@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.cdnfonts.com/css/dorsa');

@font-face {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

html{
  background: #FFE3CA;
  font-family: "San Francisco";
}
